{% extends 'pages/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% block content %}
    <div class="page">
      <div class="page-main">
        {% include 'elements/header.html' %}

        {% include 'elements/menu.html' %}
        <div class="my-3 my-md-5">
        </div>
      </div>
      {% include 'elements/footer.html' %}
    </div>
{% endblock content %}
