{% extends 'pages/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Home' %} • {{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super}} page-home {% endblock body_classes %}
{% block content %}
    <div class="page">
      <div class="page-main">
        {% include 'elements/header.html' %}

        {% include 'elements/menu.html' %}
        <div class="my-3 my-md-5">
        	<div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="card card-profile">
                  <div class="card-header" style="background-image: url(/static/demo/photos/eberhard-grossgasteiger-311213-500.jpg);"></div>
                  <div class="card-body text-center">
                    <img class="card-profile-img" src="/static/demo/faces/male/16.jpg">
                    <h3 class="mb-3">@{{request.user.hadm_id}}</h3>
                    <p class="mb-4">
                      {{request.user.statement}}
                    </p>
                    {% if request.user.deathtime != '' %}
                    <button class="btn btn-outline-danger btn-sm">
                       Died on {{request.user.deathtime}}
                    </button>
                    {% endif %}
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">My Profile</h3>
                  </div>
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="row">
                        <div class="col">
                        	<div class="form-group">
                          		<label class="form-label">Email</label>
                          		<div class="form-control-plaintext">{{request.user.email}}</div>
                        	</div>
                        	<div class="form-group">
                          		<label class="form-label">Insurance</label>
                          		<div class="form-control-plaintext text-capitalize">{{request.user.insurance}}</div>
                        	</div>
                        	<div class="form-group">
                          		<label class="form-label">Language</label>
                          		<div class="form-control-plaintext text-capitalize">{{request.user.language}}</div>
                        	</div>
                        	<div class="form-group">
                          		<label class="form-label">Religion</label>
                          		<div class="form-control-plaintext text-capitalize">{{request.user.religion}}</div>
                        	</div>
                        	<div class="form-group">
                          		<label class="form-label">Martial Status</label>
                          		<div class="form-control-plaintext text-capitalize">{{request.user.martial_status}}</div>
                        	</div>
                        	<div class="form-group">
                          		<label class="form-label">Ethnicity</label>
                          		<div class="form-control-plaintext text-capitalize">{{request.user.ethnicity}}</div>
                        	</div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'elements/footer.html' %}
    </div>
{% endblock content %}
